<h1>About Us</h1>
<h3>Breadtopia</h3>
<p>Due to COVID-19, bakeries have a harder time selling their products since people do not go out as much or want to stop by our shops as often</p>
<p>Therefore, we have created this website to allow customers to purchase products online to resume business</p>
<br><br><br>
<p>Week: 11</p>
<p>Modified by: {{author}}</p>