<h1 style="text-align: center;">About Breadtopia</h1>
    <p><span id="W_Name2">Breadtopia</span> is a Professional <span id="W_Type1">Bakery</span> Platform. Here we will provide you only interesting content, which you will like very much. We're dedicated to providing you the best of <span id="W_Type2">pastries</span>, with a focus on deliciousness and <span id="W_Spec">flavor</span>. We're working to turn our passion for <span id="W_Type3">Baking</span> into a booming <a href="https://www.blogearns.com/2021/05/free-about-us-page-generator.html" rel="do-follow" style="color: inherit; text-decoration: none;">online website</a>. We hope you enjoy our <span id="W_Type4">Bakery</span> as much as we enjoy offering them to you.</p>
<p style="font-weight: bold; text-align: center;">Thanks For Visiting Our Site<br><br>
<span style="color: blue; font-size: 16px; font-weight: bold; text-align: center;">Have a nice day!</span></p>
<br><br><br>
<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/img/founder.jpg" alt="Oh Zhe Hao" style="width:100%">
      <div class="container">
        <h2>Oh Zhe Hao</h2>
        <p class="title">CEO & Founder</p>
        <p>Started this bakery to share his love of pastries  to everyone.</p>
        <p>ohzhehao@.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/img/bakerymanager.jpg" alt="Chan Yi Da" style="width:100%">
      <div class="container">
        <h2>Chan Yi Da</h2>
        <p class="title">Bakery Manager</p>
        <p>Ensuring that the pastries come out hot and fresh.</p>
        <p>yida@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/img/baker.jpg" alt="Jared Kon" style="width:100%">
      <div class="container">
        <h2>Jared Kon</h2>
        <p class="title">Baker</p>
        <p>Bakes with all his heart and soul poured into every bread.</p>
        <p>jared@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/img/pastrychef.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Soloman Shepherd Matthew</h2>
        <p class="title">Pastry Cook</p>
        <p>Makes delicious pastries for people to enjoy.</p>
        <p>Soloman@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>